/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ENCABEZADO */
header {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(74, 9, 104);
    position: fixed;
    top: 0;
    z-index: 1;

}


/* BARRANDE NAVEGACION */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* CONTENEDIR DEL LOGO */
header nav .contenedor_img {
    width: 120px;

}

/* LOGO */
header nav .contenedor_img img {
    width: 100%;
    border-radius: 40%;

}

/* LISRA DE ELEMENTOS NO ORDENADOS */
header nav ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;

}

/* ENLACES DE NAVEGACION */
header nav ul li a {
    text-decoration: none;
    color: rgb(252, 230, 230);
    background-color: rgb(123, 80, 167);
    padding: 10px;
    border-radius: 10px;
}

/* CONTENEDOR SESION */
header .sesion {
    width: 250px;
    color: white;
}

/* ESTILO PARA EL CERRADO DE SESION */
header .sesion #cerrarSesion {
    display: none;
    cursor: pointer;
}

/* CAJA DE SESION IMG */
header .sesion .img-sesion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* IMG DE SESION */
header .sesion .img-sesion img {
    width: 25%;
}

header .sesion .inicio_sesion {
    text-align: center;
}

header .sesion .inicio_sesion p {
    margin: 0;
    cursor: pointer;
}

/* CONTENEDOR CARRITO */
header .carrito_de_compras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    margin: auto 10px;
}

/* IMG DEL CARRITO */
header .carrito_de_compras img {
    width: 65%;
}

/* CANTIDAD DE ARTICULOS EN EL CARRITO */
header .carrito_de_compras p {
    display: none;
    position: absolute;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 28px;
    color: white;
    padding-top: 5px;
    top: 5px;
}

/* FINALIZACION DEL HEADER */

/* INICIO DEL MAIN */
/* PRESENTACION */
main .presentacion {
    background: url("https://cashconverters.es/es/es/oportunidades/images/2022/02/cascos-gamer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 89px;
    z-index: 2;
}

/* TEXTO PRESENTACION */
main .presentacion #ini {
    color: aliceblue;
    font-size: 25px;
    width: 85%;
    text-align: center;
}

#garantia {
    color: black;
    font-weight: 800;
}

main .presentacion h2 {
    background-color: rgba(255, 255, 255, 0.274);
    padding: 10px;
    font-size: 40px;
    border-radius: 10px;
    width: 90%;
    text-align: center;


}

/* CONTENEDOR DE PRODUCTOS */
main .section_productos {
    width: 100%;
    height: auto;
}

/* +++++++++++++++++ DESDE AQUI FALTA COMENTAR EL CODIGO ++++++++++++++++++++++++++++++ */
main .section_productos .filtro {
    background-color: aquamarine;
    text-align: center;
    margin: auto;
    width: 85%;
    height: 80px;
    padding: 10px;
}

main .section_productos .filtro h3 {
    text-align: center;
}

main .section_productos .filtro form {
    width: 100%;
    height: 100%;
}
/* ESTILOS ENTRADA DE TEXTO PARA EL FILTRADO DE PRODUCTOS */
main .section_productos .filtro form input{
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 400px;
}

main .section_productos .productos {
    width: 100%;
    margin: auto;
}

main .section_productos .productos h2 {
    text-align: center;
    font-size: 35px;
}

main .section_productos .productos .caja_productos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
}

main .section_productos .productos .caja_productos .producto {
    width: 250px;
    height: 320px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 1px 1px 4px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

main .section_productos .productos .caja_productos .producto:hover {
    box-shadow: 0 1px 15px rgba(139, 37, 159, 0.694);
    scale: 1.03;
}


main .section_productos .productos .caja_productos .producto img {
    width: auto;
    height: 200px;
    border-radius: 15px;
}

main .section_productos .productos .caja_productos .producto .nombre_producto {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 40px;
}

main .section_productos .productos .caja_productos .producto .precio {
    font-size: 20px;
    text-shadow: 1px 2px 3px;
}

main .section_productos .productos .caja_productos .producto .caja_boton .botonAgregarProducto {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(159, 37, 159, 0.694)
}

main .section_productos .productos .caja_productos .producto .caja_boton .botonAgregarProducto:hover {
    scale: 1.05;
}




/* INICIO DE ESTILO REGISTRO USUARIO */
.contenedor_registro {
    position: fixed;
    top: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.655);
    /* boton para quitar y agregar la pantalla del registro */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_registro .registro {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.contenedor_registro .registro .cerrar {
    width: 23px;
    height: 23px;
    font-size: 18px;
    text-align: center;
    border: 1px solid;
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.contenedor_registro .registro h3 {
    font-size: 40px;
    text-align: center;
}

.contenedor_registro .registro form {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contenedor_registro .registro form label {
    font-size: 25px;
    font-weight: 600;
}

.contenedor_registro .registro form input {
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
}

/* INGRESO USUARIO */
.contenedor_ingreso {
    position: fixed;
    top: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.655);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_ingreso .ingreso {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    width: 450px;
    height: 450px;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.contenedor_ingreso .ingreso .cerrar {
    width: 23px;
    height: 23px;
    font-size: 18px;
    text-align: center;
    border: 1px solid;
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.contenedor_ingreso .ingreso h3 {
    font-size: 40px;
    text-align: center;
}

.contenedor_ingreso .ingreso #foto_perfil_usuario {
    width: 150px;
}

.contenedor_ingreso .ingreso form {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.contenedor_ingreso .ingreso form label {
    font-size: 25px;
    font-weight: 600;
}

.contenedor_ingreso .ingreso form input {
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
}




#btnIngreso {
    font-size: 23px;
    width: 85%;
    height: 60px;
    border-radius: 10px;
}

#btnRegistrase {
    font-size: 23px;
    width: 85%;
    height: 60px;
    border-radius: 10px;
}

.perfil_iniciado {
    text-align: center;

}

.contenedor_carrito {
    z-index: 1;
    position: relative;
    width: 280px;
    height: 99%;
    /* padding: 5px; */
    position: fixed;
    bottom: 0;
    right: 3px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}

.contenedor_carrito #cerrarCarrito {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;

}

.presentacion .contenedor_carrito #caja_carrito {
    background-color: white;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.presentacion .contenedor_carrito #caja_carrito #carrito {
    width: 99%;
}

.presentacion .contenedor_carrito #caja_carrito #carrito .spd {
    padding: 5px;
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
    background-color: azure;
    width: 100%;
    height: 75px;
    display: flex;
    gap: 3px;
}

.presentacion .contenedor_carrito #caja_carrito #carrito div #contenedor_img_carrito {
    width: 130px;
}

.presentacion .contenedor_carrito #caja_carrito #carrito div #contenedor_img_carrito #img_pro_carr {
    border-radius: 8px;
    /* posible problema */
    width: 100%;
    height: 100%;
}

.presentacion .contenedor_carrito #caja_carrito #carrito div .info {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: space-between;
}

.presentacion .contenedor_carrito #caja_carrito #carrito div .info .nombre_pro_carr {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: blueviolet;
    font-weight: 900;
}

.presentacion .contenedor_carrito #caja_carrito #carrito div .info .precio_art_carr {
    padding: 0;
    margin: 0;
    color: black;
    font-weight: 500;
    text-align: end;
    justify-self: end;
}


.presentacion .contenedor_carrito .total_carrito {
    background-color: black;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
}

.presentacion .contenedor_carrito .total_carrito p {
    text-align: start;
    color: white;
}

.pie_pagina {
    padding: 5px;
    width: 100%;
    height: 350px;
}

.pie_pagina form {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}


.pie_pagina #contacto {
    width: 350px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.pie_pagina #contacto input {
    height: 22px;
    font-size: 15px;
    border-radius: 5px;
}

.pie_pagina #contacto textarea {
    width: auto;
    height: 120px;
    overflow: auto;
}

.pie_pagina #contacto #botonEnviar {
    width: 90%;
    margin: 5px auto;
}

.pie_pagina #contacto #reset {
    width: 90%;
    margin: 5px auto;
}